APP_PORT=8080

POSTGRES_DB=MangoTaikaDb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root

ADMIN_SEED_EMAIL=admin@example.com
ADMIN_SEED_PHONE=0700000000
ADMIN_SEED_PASSWORD=ChangeThisAdminPassword123!
CONTACT_EMAIL=contact@mangotaika.ci
CONTACT_WHATSAPP_NUMBER=2250759013291

SEED_DEMO_DATA=false
TZ=Africa/Abidjan
